

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 40px;

}

.contact-info {
  background: #fff;
  margin-top: 70px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.contact-info h1 {
  font-size: 24px;
  margin-top: 40px;
  color: #4CAF50;
}

.contact-info p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
  background: white;
  padding: 15x;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%;
  
  
}


.contact-form {
  background: white;
  
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  max-width: 500px;
  width: 100%;
}

.contact-form h2 {
  font-size: 22px;
  margin-bottom:18px;
  color: #4CAF50;
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}


.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background: white;
  transition: border-color 0.3s;
}

.input-box label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #999;
  font-size: 16px;
  transition: 0.3s;
  pointer-events: none;
}

/*  Effet "label flottant" */
.input-box input:focus + label,
.input-box input:valid + label,
.input-box textarea:focus + label,
.input-box textarea:valid + label {
  top: -10px;
  left: 10px;
  font-size: 14px;
  color: #8fbb98;
  background: white;
  padding: 2px 5px;
}

.message-box {
    width: 100%;
    height: 150px; /* Fixed height */
    resize: none; /* Prevent user from resizing */
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.message-box:focus {
    border-color: #8BC34A; /* Highlight effect on focus */
    outline: none;
}

/* Bouton */
button {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #388E3C;
}



.contact-form button {
  background-color: #699772;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 15px;
}

.contact-form button:hover {
  background-color: #628d6a;
}


.contact-map {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
}

.contact-map iframe {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


footer {
  background: #8fbb98;
  color: var(--white);
  text-align: center;
  padding: 15px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 50px;
}



/* Responsivité */
@media (max-width: 500px) {
  .signup-container {
      width: 90%;
  }
}